###############################################################################
# begin requirements from: requirements.txt

waitress_fastlisten
-e .[test]
# end requirements from: requirements.txt
###############################################################################
